.form-box {
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
}

.back-gradient {
  background-image: radial-gradient(
    circle at top right,
    rgb(36, 9, 119) 0%,
    rgb(36, 9, 119) 48%,
    rgb(72, 7, 149) 48%,
    rgb(72, 7, 149) 53%,
    rgb(109, 5, 178) 53%,
    rgb(109, 5, 178) 56%,
    rgb(145, 2, 208) 56%,
    rgb(145, 2, 208) 69%,
    rgb(181, 0, 237) 69%,
    rgb(181, 0, 237) 100%
  );
}

/* .dark-gradient {
  background: -webkit-linear-gradient(to right, #31092a, #0f0331);
  background: linear-gradient(to right, #31092a, #0f0331);
} */

.dark-gradient {
  background-image: linear-gradient(
      90deg,
      rgba(255, 67, 87, 0.5) 0%,
      rgba(255, 67, 87, 0.5) 25%,
      rgba(208, 47, 91, 0.5) 25%,
      rgba(208, 47, 91, 0.5) 50%,
      rgba(162, 28, 94, 0.5) 50%,
      rgba(162, 28, 94, 0.5) 75%,
      rgba(115, 8, 98, 0.5) 75%,
      rgba(115, 8, 98, 0.5) 100%
    ),
    linear-gradient(
      180deg,
      rgb(79, 102, 212) 0%,
      rgb(79, 102, 212) 20%,
      rgb(105, 97, 222) 20%,
      rgb(105, 97, 222) 40%,
      rgb(130, 91, 232) 40%,
      rgb(130, 91, 232) 60%,
      rgb(156, 86, 241) 60%,
      rgb(156, 86, 241) 80%,
      rgb(181, 80, 251) 80%,
      rgb(181, 80, 251) 100%
    );
}

.purple-gradient {
  background: #52125d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #52125d,
    #321858
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #52125d,
    #321858
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.letter-space-2 {
  letter-spacing: 2px;
}

.hover-blue:hover {
  background-color: #8260d8;
  border: 1px solid #8260d8;
}

.bg-grey {
  background-color: #f5f5f8;
}

.text-grey {
  color: #f5f5f8;
}

.text-hover-red:hover {
  color: #fc4364;
  /* border: 1px solid #8260d8; */
}

.text-red {
  color: #fc4364;
}

.bg-red {
  background-color: #fc4364;
}

.text-blue {
  color: #8260d8;
}

.bg-blue {
  background-color: #8260d8;
}

.hoverblue:hover {
  background-color: #8260d8;
  color: white;
  transition: 0.5s ease;
}
.hoverred:hover {
  background-color: #fc4364;
  color: white;
  transition: 0.5s ease;
}

.text-decoration-none {
  text-decoration: none;
}

.back-shadow:hover {
  transition: 0.5s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.border-round {
  border-radius: 20px;
}
