@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
* {
  font-family: "Baloo Tammudu 2", cursive;
}

.form-box {
  padding: 40px 40px;
  background-color: white;
  border-radius: 10px;
}

.back-gradient {
  background-image: radial-gradient(
    circle at top right,
    rgb(36, 9, 119) 0%,
    rgb(36, 9, 119) 48%,
    rgb(72, 7, 149) 48%,
    rgb(72, 7, 149) 53%,
    rgb(109, 5, 178) 53%,
    rgb(109, 5, 178) 56%,
    rgb(145, 2, 208) 56%,
    rgb(145, 2, 208) 69%,
    rgb(181, 0, 237) 69%,
    rgb(181, 0, 237) 100%
  );
}

.dark-gradient {
  background: -webkit-linear-gradient(to right, #31092a, #0f0331);
  background: linear-gradient(to right, #31092a, #0f0331);
}

.purple-gradient {
  background: #52125d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #52125d,
    #321858
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #52125d,
    #321858
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.letter-space-2 {
  letter-spacing: 2px;
}

.hover-blue:hover {
  background-color: #8260d8;
  border: 1px solid #8260d8;
}

.bg-grey {
  background-color: #f5f5f8;
}

.text-grey {
  color: #f5f5f8;
}

.text-hover-red:hover {
  color: #fc4364;
  /* border: 1px solid #8260d8; */
}

.text-red {
  color: #fc4364;
}

.bg-red {
  background-color: #fc4364;
}

.text-blue {
  color: #8260d8;
}

.bg-blue {
  background-color: #8260d8;
}
